@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.activo {
    color: #6a92c2;
    border-bottom: 3px solid #6a92c2;
}

.logo{
    font-size: 3rem;
    color: #6a92c2;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

body>a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

body>a:hover,
body>a.activo{
    color: #6a92c2;
    border-bottom: 3px solid #6a92c2;
}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
    min-height: 86vh;
}

.contenido-inicio h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #6a92c2;
}

.contenido-inicio h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.contenido-inicio p{
    font-size: 1.6rem;
}

.imagen-inicio{
    border-radius: 50%;
}

.imagen-inicio img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #6a92c2;
    cursor: pointer;
    transition: 0.2s linear;
}

.imagen-inicio img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.iconos-sociales a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #6a92c2;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #6a92c2;
}

.iconos-sociales a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #6a92c2;
    box-shadow: 0  0 25px #6a92c2;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #6a92c2;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #6a92c2;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #6a92c2;
    color: black;
    box-shadow: 0 0 25px #6a92c2;
}

.texto-escribiendo{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.texto-escribiendo span{
    position: relative;
}

.texto-escribiendo span::before{
    content: "software Developer";
    color: #6a92c2;
    animation: palabras 20s infinite;
}

.texto-escribiendo span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #6a92c2;
    }
}

@keyframes palabras{
    0%, 20%{
        content: "Desarrollador Web";
    }
    21%, 40%{
        content: "Desarrollador";
    }
    41%, 60%{
        content: "Creativo";
    }
    61%, 80%{
        content: "Sociable";
    }
    81%, 100%{
        content: "Innovador";
    }
}


/***************/
/* HABILIDADES */
/***************/

.habilidades{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8rem;
    background-color: black;
    min-height: 70vh;
    flex-wrap: wrap;
}

.habilidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #161616;
    box-shadow: 0 0 25px #6a92c2;
    font-size: 1.7rem;
    width: 38%;
}


/****************/
/* MEDIA QUERIES */
/****************/


@media (max-width: 768px) {
    .inicio {
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }

    .contenido-inicio h1 {
        font-size: 4.5rem;
    }

    .contenido-inicio h3 {
        font-size: 2.2rem;
    }

    .contenido-inicio p {
        font-size: 1.4rem;
    }

    .imagen-inicio img {
        width: 60vw;
    }

    .logo {
        font-size: 2.5rem;
    }

    nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        background-color: #161616;
        border-left: 2px solid #6a92c2;
        border-bottom-left-radius: 1.5rem;
        padding: 2rem;
    }

    nav.activo {
        display: block;
    }

    nav a {
        font-size: 1.6rem;
        margin: 2rem 0;
    }

    nav a:hover,
    nav a.activo {
        border-bottom: 2px solid #6a92c2;
    }
}


@media (max-width: 480px) {
    .inicio {
        padding: 1rem;
        gap: 2rem;
    }

    .contenido-inicio h1 {
        font-size: 3.5rem;
    }

    .contenido-inicio h3 {
        font-size: 2rem;
    }

    .contenido-inicio p {
        font-size: 1.2rem;
    }

    .imagen-inicio img {
        margin-top: -8rem;
        width: 50vw;
    }

    .logo {
        font-size: 2rem;
        left: 5%;
    }

    nav {
        width: 70%;
        border-left: 2px solid #6a92c2;
    }

    nav a {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 1.4rem;
        padding: 0.8rem 2rem;
    }

    .habilidades {
        flex-direction: column;
        gap: 3rem;
    }

    .habilidad {
        width: 80%;
        font-size: 1.4rem;
    }
}
